p{
    color: aqua;
}
#Box1{
    background-color: azure;
    width: 80px;
    height: 80px;
}

#Box2{
    background-color: green;
    width: 80px;
    height: 80px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}